/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Kanit', sans-serif;
  background-color: white;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Kanit', sans-serif;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  line-height: 1.5;
  font-size: 1.5rem;
}
a {
  font-size: 2rem;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: #f4f7ed;
}
header {
  width: 100%;
  background-color: #86ee60;
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
header .nav_left {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
header .nav_left .logo {
  background-image: url(../img/weed.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 25%;
}
header .nav_left .navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}
header .nav_left .navigation a {
  text-decoration: none;
  color: #2b3752;
}
header .nav_right {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}
header .nav_right button {
  margin-right: 20px;
  padding: 10px;
  border-radius: 1rem;
  color: #2b3752;
  background: #f4f7ed;
  transition: 500ms;
  outline: none;
  border: solid #f4f7ed 2px;
}
header .nav_right button:hover {
  color: #f4f7ed;
  background: #2b3752;
}
.hero {
  width: 100%;
  height: 50vh;
  background-image: url(https://images.unsplash.com/photo-1565749168405-b375786d5f57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.hero .hero_content {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.hero .hero_content h2 {
  text-align: center;
  width: 100%;
  color: #f4f7ed;
}
.hero .hero_content p {
  width: 90%;
  color: #f4f7ed;
}
.hero .hero_content .button_group {
  width: 50%;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.hero .hero_content .button_group button {
  padding: 10px;
  border-radius: 1rem;
  color: #2b3752;
  background: #f4f7ed;
  transition: 500ms;
  outline: none;
  border: solid #f4f7ed 2px;
}
.hero .hero_content .button_group button:hover {
  color: #f4f7ed;
  background: #2b3752;
}
.strains {
  background-color: #f4f7ed;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: space-around;
}
.strains .strains_content {
  width: 300px;
  height: 300px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.strains .strains_content figure {
  height: 70%;
  width: 90%;
  background-color: #86ee60;
}
